.categoryform {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.categoryform__field {
  width: 22rem;
  padding: 8px;
  border: 2px solid blue;
  border-radius: 6px;
  font-size: 16px;
}

.categoryform .btn {
  padding: 8px 20px;
  border: none;
  border-radius: 6px;
  background: blue;
  cursor: pointer;
  font-size: 18px;
  color: white;
  margin-left: 10px;
}
