.navbar {
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 0;
  border-bottom: 1px solid;
}

.nav_list {
  display: flex;
  gap: 3rem;
  cursor: pointer;
}

.navbar .btn {
  cursor: pointer;
}
